<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.webServer>
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\ark.sticky.notes.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Custom" existingResponse="Auto" />
	</system.webServer>
</configuration>
<!--ProjectGuid: C7ED36A8-B462-46C8-A96E-E8E1F7BE5DCB-->